.container {
    background: #00b4db; 
    background: -webkit-linear-gradient(
      to right,
      #0083b0,
      #00b4db
    );
    background: linear-gradient(
      to right,
      #0083b0,
      #00b4db
    ); 
    height: 100vh;

  }
  
  .header {
    font-size: 72px;
    text-align: center;
    color: black;
    margin-top: 0;
  }
  .header svg {
      margin-left: 12px;
  }
  .subHeaders {
    font-size: 60px;
    color: #efe8e8;
  }
  .section {
    display: flex;
  }
  .section .col {
    flex: 50%;
    max-width: 50%;
  }
  .section3 {
    width: 80%;
  }
  .section3 p {
    font-size: large;
  }
  .btn {
    padding: 18px 44px;
    border-radius: 10px;
    color: white;
    font-size: larger;
    cursor: pointer;
  }
  
  .btnRegister {
    background-color: goldenrod;
  }
  
  @media screen and (max-width: 750px) {
    .section {
      width: unset;
      float: none;
    }
    .section .subHeaders {
      font-size: 50px;
    }
    .section2 {
      float: none;
      width: 80%;
    }
  }
  